Showing a post

<h1> Your Recent Experience </h1>

Name: <%= @trax.name %><br>
Date: <%= @trax.date %><br>
Score: <%= @trax.score %><br>
Where did you go?: <%= @trax.location %><br>
Number: <%= @trax.number %><br>
Will you go on another date ?: <%= @trax.interest %><br>



<form method="post" action="/traxes/<%= @trax.user_id %>" > 
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">

</form>

